.aside-title{
  text-align: center;
  color: #E0481D;
  font-weight: 600;
}

.aside-board{
  margin-top: 2rem;
}

ul{
padding: 0;
}

ul li {
  color: #3c3c3c;
  font-weight: 700;
  list-style: none;
  text-decoration: none;
}
